<section id="event" class="section-event">
	<div class="row container">
		<header class="col s12 center">
			<h2 class="title-header white-text">GDG PORTO Events</h2>
		</header>
		<div class="col s12">
			<p class="text white-text">Follow all our events! Check our <a href="https://www.meetup.com/GDG-Porto/" target="_blank">Meetup page</a></p>
			<div class="center">
				<a href="https://www.meetup.com/GDG-Porto/events/" class="blue-effect waves-light btn-large" target="_blank">Next Event</a>
			</div>
		</div>
	</div>
</section>
